<table class="questioninfo">
	<tbody>
		<tr>
			<td>
				Date Created
			</td>
			<td>
				{{ question.datetime }}
			</td>
		</tr>
		<tr>
			<td>
				Author
			</td>
			<td>
				{{ question.author.nickname }}
			</td>
		</tr>
		<tr>
			<td>
				Category
			</td>
			<td>
				{{ question.category }}
			</td>
		</tr>
		<tr>
			<td>
				Question Type
			</td>
			<td>
				{% ifequal question.questiontype 1 %}
					Numerical Answer
				{% endifequal %}
				{% ifequal question.questiontype 2 %}
					Numerical Answer
				{% endifequal %}
			</td>
		</tr>
	</tbody>
</table>
<div class="question">
	<h2>Question</h2>
	{{ question.question }}
</div>
<div class="answer">
	<h2>Answer</h2>
	{{ question.answer }}
</div>
<input type="hidden" name="questionkey" value="{{ question.key }}" />