<table id="quizstats">
	<thead>
		<th></th>
		<th>Date Time</th>
		<th>Quizzer</th>
		<th>Score (%)</th>
		<th>Total Duration (s)</th>
	</thead>
	<tbody>
		{% for session in sessions %}
		<tr class="resultrow">
			<td>
				<input type="checkbox" name="{{ session.key }}" value="{{ session.key }}"/>
			</td>
			<td>
				{{ session.datetime }}
			</td>
			<td>
				{{ session.quizzer.nickname}}
			</td>
			<td>
				{% if session.completed %}
					{{ session.percentscore}}
				{% else %}
					incomplete
				{% endif %}
			</td>
			<td>
				{% if session.duration %}
					{{ session.duration }}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>