{% extends "../base.html" %}

{% block title %}Manage Questions{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascripts/embedapi.js"></script>
<script type="text/javascript" src="/javascripts/questions.js"></script>
{% endblock %}

{% block main %}
<div id="buttons">
	<input name="add" value="Add Question" type="button"/>
</div>
<div id="list">
</div>

<div id="dialog-question-form" title="Add Question">
	<form>
		<input name="key" value="" type="hidden" />
		<fieldset>
			<div id="question-form-tab">
				<ul>
					<li><a href="#question-form-tab-1">Details</a></li>
					<li><a href="#question-form-tab-2">Question</a></li>
					<li><a href="#question-form-tab-3">Diagram</a></li>
					<li><a href="#question-form-tab-4">Answer</a></li>
				</ul>
				<div id="question-form-tab-1">
					<div class="field">
						<div class="label">
							<label for="category">Category</label>
						</div>
						<div class="widget">
							<select name="category">
								{% for cat in categories%}
								<option value="{{cat.0}}">{{ cat.1 }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="field">
						<div class="label">
							<label for="type">Type</label>
						</div>
						<div class="widget">
							<select name="type">
								{% for qtype in questiontypes %}
								<option value="{{qtype.0}}">{{ qtype.1 }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div id="question-form-tab-2">
					<div class="field">
						<div class="label">
							<label for="question">Question</label>
						</div>
						<div class="widget">
							<textarea name="question" cols="50" rows="5"></textarea>
							<input type="button" name="updatepreview" value="Update Preview" />
						</div>
					</div>
					<div class="field">
						<div class="label">
							Question Preview
						</div>
						<div class="value">
							<div id="questionpreview"></div>
						</div>
					</div>
				</div>
				<div id="question-form-tab-3">
					<input type="button" name="editdiagram" value="Edit Diagram" />
					<input type="hidden" name="diagram" value="" />
					<div id="form-diagram-view">
					</div>
				</div>
				<div id="question-form-tab-4">
					<div class="field">
						<div class="label">
							<label for="answer">Answer</label>
						</div>
						<div class="widget">
							<input name="answer" type="text"/>
						</div>
					</div>
					<div id="multiple-choice-fields">
						<div class="field">
							<div class="label">
								<label for="choice1">Choice 1</label>
							</div>
							<div class="widget">
								<input name="choice1" type="text" />
							</div>
						</div>
						<div class="field">
							<div class="label">
								<label for="choice2">Choice 2</label>
							</div>
							<div class="widget">
								<input name="choice2" type="text" />
							</div>
						</div>
						<div class="field">
							<div class="label">
								<label for="choice3">Choice 3</label>
							</div>
							<div class="widget">
								<input name="choice3" type="text" />
							</div>
						</div>
						<p>
							<input type="button" name="updateanswerpreview" value="Update Preview" />
						</p>
						<div class="field">
							<div class="label">
								Answers Preview
							</div>
							<div class="value">
								<div id="answerspreview"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div id="dialog-question-view" title="View Question">
	<div class="field">
		<div class="label">
			Category
		</div>
		<div class="value">
			<span id="categoryvalue"></span>
		</div>
	</div>
	<div class="field">
		<div class="label">
			Type
		</div>
		<div class="value">
			<span id="typevalue"></span>
		</div>
	</div>
	<div class="field">
		<div class="label">
			Question
		</div>
		<div class="value">
			<span id="questionvalue"></span>
		</div>
	</div>
	<div class="field">
		<div class="label">
			Diagram
		</div>
		<div class="value">
			<div id="diagram-view">
			</div>
		</div>
	</div>
	<div class="field">
		<div class="label">
			Answer
		</div>
		<div class="value">
			<span id="answervalue"></span>
		</div>
	</div>
	<div id="otherchoicesview">
		<div class="field">
			<div class="label">
				Other Choices
			</div>
			<div class="value">
				<p id="otherchoice1">
				</p>
				<p id="otherchoice2">
				</p>
				<p id="otherchoice3">
				</p>
			</div>
		</div>
	</div>
</div>

<div id="dialog-question-required-message" title="Error">
	<p>
	All fields are required!
	</p>
</div>

<div id="dialog-question-invalid-answer-message" title="Error">
	<p>
	Invalid answer!
	</p>
</div>

<div id="dialog-question-not-saved-message" title="Error">
	<p>
	Question not saved!
	</p>
</div>
<div id="dialog-svg-edit" title="Edit Diagram">
	<div id="svg-edit-div">
		<iframe name="svg-edit" src="/svg-edit/svg-editor.html?dimensions=300,300&amp;canvas_expansion=0&amp;show_outside_canvas=false&amp;no_save_warning=true&amp;iconsize=m">
		</iframe>
		<!--
		<iframe name="svg-edit" src="http://svg-edit.googlecode.com/svn-history/r1771/trunk/editor/svg-editor.html?dimensions=300,300&amp;canvas_expansion=0&amp;show_outside_canvas=false&amp;no_save_warning=true&amp;iconsize=m">
		</iframe>
		-->
	</div>
</div>
{% endblock %}

{% block sidebar %}
<h3>Categories</h3>
<input type="hidden" name="currentcategory" value="0" />
<ul id="categoryselector">
	<li class="selected" value="0">All</li>
	{% for cat in categories %}
	<li value="{{ cat.0 }}">{{ cat.1}}</li>
	{% endfor %}
</ul>
<h3>Search</h3>
<div>
<input type="text" name="search" /><input type="button" name="searchgo" value="Go" />
</div>
{% endblock %}