body {
	font-family: Arial;
	font-size: 14px;
}

#sidebar {
	width: 200px;
	float: left;
}

#main {
	margin-left: 250px;
}

#header {
	height: 100px;
}

#list {
	min-height: 400px;
}

#list table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	width: 100%;
}

#list table tr {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
}

#list table tr.answered {
	background-color: #EDF0F9;
}

#list table td {
	padding-right: 10px;
}

#buttons, #controls {
	margin-bottom: 1em;
}

.field .label {
	color: #2E6E9E;
	margin: 1em 0;
}

.ui-widget {
	font-size: 1em;
}

#questionpreview {
	height: 310px;
	padding: 5px;
	overflow: auto;
	border: 1px solid #A6C9E2;
}

#answerspreview {
    height: 150px;
	padding: 5px;
	overflow: auto;
	border: 1px solid #A6C9E2;
}

/* stylings for category selector */

#sidebar h3 {
	font-size: 14px;
}

#categoryselector {
	padding: 0;
}
#categoryselector li {
	display: block;
	padding: 5px;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
	cursor: pointer;
}

#categoryselector li.selected {
	background-color: #DFEFFC;
}

#question-form-tab {
	height: 600px;
}

iframe[name='svg-edit'] {
	width: 600px;
	height: 500px;
}

#form-diagram-view {
	width: 300px;
	height: 300px;
}

#percentcorrect, #percentcategory {
	width: 450px;
	height: 400px;
}

#answerbycategory {
	width: 700px;
	height: 400px;
}

/*
#trainermain {
	width: 1000px;
}
*/

/*
#svg-edit-div {
	position: absolute;
	z-index: 20001;
	left: 0;
	top: 0;
	display: none;
}*/
