<div id="quizlistcontent">
	<table>
		<tbody>
			{% for q in quizzes %}
				{% if q.completed %}
					<tr class="quizrow completed">
						<td>
							<input type="checkbox" name="{{ q.key }}" value="{{ q.key }}"/>
						</td>
						<td>{{ q.author }}</td>
						<td>{{ q.title }}</td>
					</tr>
				{% else %}
					<tr class="quizrow">
						<td>
							<input type="checkbox" name="{{ q.key }}" value="{{ q.key }}"/>
						</td>
						<td>{{ q.author }}</td>
						<td>{{ q.title }}</td>
					</tr
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>