{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block javascript %}
<script type="text/javascript" src="javascripts/jquery.busy.min.js"></script>
<script type="text/javascript" src="javascripts/quiz.js"></script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block main %}
			<div id="maincontent">
				<div class="maincontenttop">
					<div>{{ quiz.title }}</div>
					<div class="controls">
						<input type="button" name="start" value="Start"/>
					</div>
					<a href="/myquizzes">Back to Quizzes</a>
				</div>
				<div id="quizcontent">
				</div>
				<div id="quizresult" style="display: none;">
				</div>
				{% for key in quiz.questions %}
						<input type="hidden" name="question{{ forloop.counter }}" value="{{ key }}" />
				{% endfor %}
				<input type="hidden" name="quizkey" value="{{ quiz.key }}" />
			</div>
{% endblock %}