<div>
	<img src="{{ src }}" />
</div>
<table id="quizstats">
	<thead>
		<tr>
			<th>
				Question
			</th>
			<th>
				Given Answer
			</th>
			<th>
				Correctness
			</th>
			<th>
				Duration (s)
			</th>
		</tr>
	</thead>
	<tbody>
		{% for qsa in results %}
			<tr class="resultrow">
				<td>Question {{ forloop.counter }}</td>
				<td>{{ qsa.answer }}</td>
				{% if qsa.correct %}
					<td>Correct</td>
				{% else %}
					<td>Wrong</td>
				{% endif %}
				<td>
					{{ qsa.duration }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<input type="button" name="closeresult" value="Close" />
